# COMPLETE PANDAS FOR DATA SCIENCE : (VENV)

#### Data Modification(Inserting i.e adding new Columns) with Pandas:

In [ ]:
import numpy as np  
import pandas as pd
import openpyxl as opy

print(np.__version__)
print(pd.__version__)
print(opy.__version__)

:

In [ ]:
# Adding a new column in our dataframe : See syntax carefully! 
# Remember one things we may add data uisng constant values and functions as well! 
# Here we will see two types of Addding columns as.
# 1 : Adding columns at any random place.
# 2 : Adding column at any particular specified place. lets see one by one!

In [20]:
data_x = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": [25, 30, 22, 35, 28, 26],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix", "Philadelphia"],
    "Salary": [50000, 60000, 45000, 70000, 52000, 58000],
    "Department": ["HR", "IT", "Finance", "Marketing", "Sales", "IT"],
    "Experience": [2, 5, 1, 7, 3, 4]
}

df = pd.DataFrame(data_x)

#print(df)


# adding a new column at any random position! Observe syntax carefully!
# We will see various exmples see one by one !


df['Bonus'] = [500,600,800,2000,3000,750]  # adding fixed constants at any random position! This is how syntax works.

print(df)

df['Year end bonus'] = df['Salary'] * 1.05  # adding new columns  via a function at any random position.

print(df)


# Go Through with Syntax craefully!

      Name  Age          City  Salary Department  Experience  Bonus
0    Alice   25      New York   50000         HR           2    500
1      Bob   30   Los Angeles   60000         IT           5    600
2  Charlie   22       Chicago   45000    Finance           1    800
3    David   35       Houston   70000  Marketing           7   2000
4      Eva   28       Phoenix   52000      Sales           3   3000
5    Frank   26  Philadelphia   58000         IT           4    750
      Name  Age          City  Salary Department  Experience  Bonus  \
0    Alice   25      New York   50000         HR           2    500
1      Bob   30   Los Angeles   60000         IT           5    600
2  Charlie   22       Chicago   45000    Finance           1    800
3    David   35       Houston   70000  Marketing           7   2000
4      Eva   28       Phoenix   52000      Sales           3   3000
5    Frank   26  Philadelphia   58000         IT           4    750

   Year end bonus
0         52500.0
1         63000.0
2         47250.0
3         73500.0
4         54600.0
5         60900.0

In [ ]:
data_x = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": [25, 30, 22, 35, 28, 26],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix", "Philadelphia"],
    "Salary": [50000, 60000, 45000, 70000, 52000, 58000],
    "Department": ["HR", "IT", "Finance", "Marketing", "Sales", "IT"],
    "Experience": [2, 5, 1, 7, 3, 4]
}

df = pd.DataFrame(data_x)



# adding a new column at any particular specified position ! Observe syntax carefully! : via insert method.
# lets see syntaxd carefully!

#  df.insert(loc. of comun you want,"that new col_name",column data).


# Ex 1 : Addding fixed constant values  of column at desired place .

df.insert(1,"Employee ID",[3,5,2,7,8,0])
print(df,"\n\n")   # aur jo coulumn pehle us position pe tha vo ek idx next me displace ho jayega! okay


# Ex 2 : Adding a new coulmn but values as function at specified desired place! leet see

df.insert(5,"Year End Bonus",df['Salary']*1.10)
print("\n\n",df)


# Maja aya this is how we add columns! so choose that ones which is required.

      Name  Employee ID  Age          City  Salary Department  Experience
0    Alice            3   25      New York   50000         HR           2
1      Bob            5   30   Los Angeles   60000         IT           5
2  Charlie            2   22       Chicago   45000    Finance           1
3    David            7   35       Houston   70000  Marketing           7
4      Eva            8   28       Phoenix   52000      Sales           3
5    Frank            0   26  Philadelphia   58000         IT           4




       Name  Employee ID  Age          City  Salary  Year End Bonus Department  \
0    Alice            3   25      New York   50000         55000.0         HR
1      Bob            5   30   Los Angeles   60000         66000.0         IT
2  Charlie            2   22       Chicago   45000         49500.0    Finance
3    David            7   35       Houston   70000         77000.0  Marketing
4      Eva            8   28       Phoenix   52000         57200.0      Sales
5    Frank            0   26  Philadelphia   58000         63800.0         IT

   Experience
0           2
1           5
2           1
3           7
4           3
5           4

#### Data Modification(Updating existing columns values) with Pandas:

In [ ]:
# Here We update existing columns via using : .loc() method.

In [ ]:
data_x = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": [25, 30, 22, 35, 28, 26],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix", "Philadelphia"],
    "Salary": [50000, 60000, 45000, 70000, 52000, 58000],
    "Department": ["HR", "IT", "Finance", "Marketing", "Sales", "IT"],
    "Experience": [2, 5, 1, 7, 3, 4]
}

df = pd.DataFrame(data_x)

#print(df)


# see syntax for updating existing column carefully

# df.loc[row_idx ,"Column_name"] = New Values.

# Ex 1 : Updating existing columns values with updating only one values of a column. see syntax carefully

df.loc[1,"Department"] ="MECHANICAL"
print(df)

df.loc[4,"Name"] = "Pankaj"
print("\n\n",df)


# Ex 2 : Updating existing columns values with updating multiple columns .see syntax carefully.

df['Salary'] = df['Salary'] * 1.20  # for multiple columns data updation we dont use .loc() method we uses direct approach.
print("\n\n",df)



# Remember one thing addiing/ Inserting new columns and updating existing columns are two different things. I guess you got it.

      Name  Age          City  Salary  Department  Experience
0    Alice   25      New York   50000          HR           2
1      Bob   30   Los Angeles   60000  MECHANICAL           5
2  Charlie   22       Chicago   45000     Finance           1
3    David   35       Houston   70000   Marketing           7
4      Eva   28       Phoenix   52000       Sales           3
5    Frank   26  Philadelphia   58000          IT           4


       Name  Age          City  Salary  Department  Experience
0    Alice   25      New York   50000          HR           2
1      Bob   30   Los Angeles   60000  MECHANICAL           5
2  Charlie   22       Chicago   45000     Finance           1
3    David   35       Houston   70000   Marketing           7
4   Pankaj   28       Phoenix   52000       Sales           3
5    Frank   26  Philadelphia   58000          IT           4


       Name  Age          City   Salary  Department  Experience
0    Alice   25      New York  60000.0          HR           2
1      Bob   30   Los Angeles  72000.0  MECHANICAL           5
2  Charlie   22       Chicago  54000.0     Finance           1
3    David   35       Houston  84000.0   Marketing           7
4   Pankaj   28       Phoenix  62400.0       Sales           3
5    Frank   26  Philadelphia  69600.0          IT           4

#### Data Modification( Deleting Existing Columns) with Pandas:

In [ ]:
# we may delete single or multiple columns of dataframe with .drop() method see ! with inplace = True Now see how to use it and see syntax carefully.

In [ ]:
data_x = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank"],
    "Age": [25, 30, 22, 35, 28, 26],
    "City": ["New York", "Los Angeles", "Chicago", "Houston", "Phoenix", "Philadelphia"],
    "Salary": [50000, 60000, 45000, 70000, 52000, 58000],
    "Department": ["HR", "IT", "Finance", "Marketing", "Sales", "IT"],
    "Experience": [2, 5, 1, 7, 3, 4]
}

df = pd.DataFrame(data_x)



# Deleting single column :

# Syntax is  df.drop(columns = ["Column name"], inplace = True)

df.drop(columns = ["Department"],inplace = True)
print(df) # see department column got deleted!


# Deleting multiple column:

# syntax is easy as before as df.drop(columns = ["column1_name ,column2_name ,columnn3_name"],inplace = True)

df.drop(columns = ["Age","Salary","Name"], inplace = True)
print("\n\n",df) # now here age salary and name columns got deleted! oaky got it.

      Name  Age          City  Salary  Experience
0    Alice   25      New York   50000           2
1      Bob   30   Los Angeles   60000           5
2  Charlie   22       Chicago   45000           1
3    David   35       Houston   70000           7
4      Eva   28       Phoenix   52000           3
5    Frank   26  Philadelphia   58000           4


            City  Experience
0      New York           2
1   Los Angeles           5
2       Chicago           1
3       Houston           7
4       Phoenix           3
5  Philadelphia           4

#### Handling Missing data :